.chatbodyMain{
    height:calc(100vh - 142px);
    overflow-x: hidden;
    margin-top: 62px;
    display: block;
    overflow-y: scroll;
    position: relative;
    
}
.chatbodyMain1{
    height:calc(100vh - 520px);
}

.chataudio1{
    display: none;
}
.chataudio{
    display: normal;
    width: calc(100vw - 50vw);
    margin-top: 0;
}