.chatboxMain{
    width: 100%;
    height: 60px;
    margin-top: 1px;
    display: flex;
    overflow: hidden;
    
}
.chatboxIcon{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 15px;    
}
.chatboxTitle{
    height:20px;
    padding: 0;
    margin: 0;
    margin-top: 4px;
}
.chatboxAll{
    height: 60px;
    margin-left: 4px;
}
.chatboxStatus{
    height: 20px;
    margin-top: 3px;
}