.chat-send-field{
    display: block;
    height: auto;
    max-width: 60vw;
    margin-left: 38vw;
    background-color: rgb(5, 62, 62);
    color: white;
    border-radius: 5px;
    overflow-wrap: break-word;
    position: sticky;
    float: right;
    font-size: 20px;
    padding-right: 35px;
    padding-left: 10px;
}

.send-time{
    position: absolute;
    float: left;
    margin: 0;
    margin-right: 5px;
    font-size: 10px;
    bottom: 5px;
}

.send-tick{
    position: absolute;
    float: left;
    margin: 0;
    margin-left: 2px;
    font-size: 9px;
    bottom: 1px;
}